#canvas_1{
    width: 200px;
    height: 200px;
    margin: 0px;
    animation: rotate 3s linear 0;
    -moz-animation: rotate 3s linear 0; /* Firefox */
    -webkit-animation: rotate 3s linear 0;  /* Safari 和 Chrome */
    -o-animation: rotate 3s linear 0;
}
@keyframes rotate{
    0% {
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);       /* IE 9 */
        -webkit-transform: rotate(0deg);   /* Safari and Chrome */
        -o-transform: rotate(0deg);        /* Opera */
        -moz-transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
        -ms-transform: rotate(360deg);       /* IE 9 */
        -webkit-transform: rotate(360deg);   /* Safari and Chrome */
        -o-transform: rotate(360deg);        /* Opera */
        -moz-transform: rotate(360deg);
    }
}